@import '/src/styles/variables';
@import '/src/styles/breakpoints';

.section__one {
    margin-top: 50px;

    .title {
        color: $black;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: $bold;
        line-height: normal;

        @media screen and (min-width: $smartphone) {
            font-size: 14px;
            margin: 0 50px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 20px;
            margin: 0 100px;
        }

        @media screen and (min-width: $desktop_xsm) {
            font-size: 28px;
            margin: 0 200px;
        }

        @media screen and (min-width: $desktop_sm) {
            font-size: 28px;
            margin: 0 250px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 34px;
            margin: 0 350px;
        }
    }

    .subtitle {
        color: $black;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: $medium;
        line-height: normal;

        @media screen and (min-width: $smartphone) {
            font-size: 14px;
        }
        @media screen and (min-width: $tablet) {
            font-size: 20px;
        }
        @media screen and (min-width: $desktop_xsm) {
            font-size: 28px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 34px;
            margin: 0 300px;
        }
    }

    .text {
        margin: 30px 55px 0;
        color: $black;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: $medium;
        line-height: normal;

        @media screen and (min-width: $smartphone) {
            font-size: 12px;
        }
        @media screen and (min-width: $tablet) {
            font-size: 16px;
            margin: 30px 100px 0;
        }
        @media screen and (min-width: $desktop_xsm) {
            font-size: 18px;
            margin: 30px 150px;
        }
        @media screen and (min-width: $desktop_sm) {
            font-size: 22px;
            margin: 30px 200px;
        }
        @media screen and (min-width: $desktop) {
            margin: 30px 300px;
        }
    }
}