$white: #FFFFFF;
$black: #272727;
$black-text: #000000;
$grey: #323232;
$light-grey: #D2D2D2;
$orange: #ED740D;
$green: #395E3C;
$red: #ea4f4f;
$blue: #001122;

$poppins: 'Poppins', sans-serif;

$regular: 400;
$medium: 500;
$bold: 700;