@import '/src/styles/variables';
@import '/src/styles/breakpoints';

.secao {

    .organizacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 30px auto 0;

        @media screen and (min-width: $desktop_xsm) {
            flex-direction: row;
            width: 942px;
        }

        @media screen and (min-width: $desktop_sm) {
            flex-direction: row;
            width: 942px;
        }

        .imagem {
            width: 150px;
            height: 201px;
            margin: 20px;

            @media screen and (min-width: $tablet) {
                width: 200px;
                height: 251px;
            }

            @media screen and (min-width: $desktop_xsm) {
                width: 250px;
                height: 311px;
                margin-right: 50px;
            }

            @media screen and (min-width: $desktop_sm) {
                width: 280px;
                height: 361px;
                margin-right: 150px;
            }
        }

        .textos {

            .titulo {
                color: $black;
                font-size: 14px;
                font-weight: $bold;
                text-align: left;
                margin: 10px;

                @media screen and (min-width: $smartphone) {
                    font-size: 20px;
                }

                @media screen and (min-width: $tablet) {
                    font-size: 26px;
                }

                @media screen and (min-width: $desktop_sm) {
                    font-size: 32px;
                }
            }

            .texto {
                color: $black;
                font-size: 12px;
                font-weight: $medium;
                text-align: left;
                margin: 10px;

                @media screen and (min-width: $smartphone) {
                    font-size: 15px;
                    width: 380px;
                }

                @media screen and (min-width: $tablet) {
                    font-size: 17px;
                    width: 520px;
                }

                @media screen and (min-width: $desktop_xsm) {
                    width: 520px;
                }

                @media screen and (min-width: $desktop_sm) {
                    width: 620px;
                    font-size: 21px;
                }

                @media screen and (min-width: $desktop) {
                    width: 720px;
                    font-size: 21px;
                }
            }
        }
    }

}